/*.wrapper_1 {
	border-bottom: 1px solid black;
	height: 200px;
	width: 100%;
}

.header12 {
	margin: auto;
	width: 1200px;
	height: 100%;
	border: 1px solid red;
}

.header {
	height: 100%;
}

.logo {
	height: 100%;
	background: red;
}

.navbar {
	height: 100%;
	background: green;
}

.wrapper_2 {
	border-bottom: 1px solid black;
	height: 200px;
	width: 100%;
}

.wrapper_3 {
	border-bottom: 1px solid black;
	height: 200px;
	width: 100%;
}

.wrapper_4 {
	border-bottom: 1px solid black;
	height: 200px;
	width: 100%;
}

.wrapper_5 {
	border-bottom: 1px solid black;
	height: 200px;
	width: 100%;
}

.wrapper_6 {
	border-bottom: 1px solid black;
	height: 200px;
	width: 100%;
}









*/











.fixed_12 {
	margin: auto;
	width: 1200px;
}

.main-container {
	background-color: deepskyblue;
	width: 100%;
}

.header-container {
	margin-top: 50px;
	height: 50px;
}

.left-header {
	background-color: tomato;
	height: 100%;
}

.right-header {
	background-color: darkorange;
	height: 100%;
}

.slider {
	background-color: lightskyblue;
	height: 500px;
}

.promo-container {

}

.inner-tile {
	height: 100%;
	width: 100%;
	background-color: mediumpurple;
}

.tile-1 {
	height: 300px;
	padding: 20px;
	background-color: gold;
}

.tile-2 {
	height: 300px;
	padding: 20px;
	background-color: lightgreen;
}

.tile-3 {
	height: 300px;
	padding: 20px;
	background-color: lightsalmon;
}

.news {
	background-color: green;
}

.article {
	width: 100%;
}

h1.title {
	text-align: center;
	padding: 10px 0 5px 0;
}

h2.news_title {
	border-bottom: 3px solid black;
	padding-bottom: 5px;
}

.news p {
	padding-top: 5px;
}