/*.wrapper_1 {
	border-bottom: 1px solid black;
	height: 200px;
	width: 100%;
}

.header12 {
	margin: auto;
	width: 1200px;
	height: 100%;
	border: 1px solid red;
}

.header {
	height: 100%;
}

.logo {
	height: 100%;
	background: red;
}

.navbar {
	height: 100%;
	background: green;
}

.wrapper_2 {
	border-bottom: 1px solid black;
	height: 200px;
	width: 100%;
}

.wrapper_3 {
	border-bottom: 1px solid black;
	height: 200px;
	width: 100%;
}

.wrapper_4 {
	border-bottom: 1px solid black;
	height: 200px;
	width: 100%;
}

.wrapper_5 {
	border-bottom: 1px solid black;
	height: 200px;
	width: 100%;
}

.wrapper_6 {
	border-bottom: 1px solid black;
	height: 200px;
	width: 100%;
}









*/

.fixed_12 {
    margin: auto;
    width: 1200px;
}
.main-container {
    background-color: deepskyblue;
    width: 100%;
}
.header-container {
    margin-top: 50px;
    height: 70px;
}
.left-header {
    background-color: lightgray;
    height: 100%;
}
.left-header h1{
	margin: 0px;
	font-size: 20px;
	text-align: center;
}
.left-header h4{
	margin: 0px;
	font-size: 10px;
	text-align: center;
	line-height: 10px;
}
.left-header .ribbon-container {
	position: absolute;
	width: 160px;
	height: 200px;
	top: -50px;
	z-index: 999;
	background: red;
}
.right-header {
    background-color: darkorange;
    height: 100%;
}
.right-header div {
    text-align: center;
    margin: auto;
    height: 100%;
}
.right-header div a {
    margin: auto;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.promo-container {}
.promo-container .transparent {
	background-color: rgba(255, 255, 255, 0.5);
	height: 50%;
	width: 100%;
}

.transparent h2.tile-title {
	font-size: 30px;
	text-align: center;
	padding-top: 9px;
	line-height: 35px;
}

.transparent button {
	display: block;
	margin: auto auto;
}

.inner-tile {
    height: 100%;
    width: 100%;
    background-color: mediumpurple;
}
.tile-1 {
    height: 300px;
    padding: 20px;
    background-color: gold;
}
.tile-2 {
    height: 300px;
    padding: 20px;
    background-color: lightgreen;
}
.tile-3 {
    height: 300px;
    padding: 20px;
    background-color: lightsalmon;
}
.tile-1 .inner-tile{
	background: url('../img/tile_1.jpg');
}
.tile-2 .inner-tile{
	background: url('../img/tile_2.jpg');
}
.tile-3 .inner-tile{
	background: url('../img/tile_3.jpg');
}
.news {
    background-color: green;
}
.article {
    width: 100%;
}
h1.title {
    text-align: center;
    padding: 10px 0 5px 0;
}
h2.news_title {
    border-bottom: 3px solid black;
    padding-bottom: 5px;
}
.news p {
    padding-top: 5px;
}


// Slider stuff

.banner {
    position: relative;
    overflow: auto;
}
.banner li {
    list-style: none;
}
.banner ul li {
    float: left;
}
.banner, .slider ul, .slider ul li {
	height: 100%;
}

.slider {
    background-color: lightskyblue;
    height: 500px;
}

.slider .slide-text-container{
	width: 50%;
	margin: 50px auto;
	text-align: center;
}

.slider .slide-text-container p{
	font-size: 20px;
}

.slider ul .slide1 {
	background: tomato;
}

.slider ul .slide2 {
	background: lightgreen;	
}

.slider ul .slide3 {
	background: gold;
}