<section class="slider">
	<div class="banner">
	    <ul>
	        <li class="slide1">
	        	<div class="slide-text-container">
	        		<h1>TITLU SLIDE LUNG</h1>
	        		<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.</p>
	        		<button>Afla mai multe!</button>
	        	</div>
	        </li>
	        <li class="slide2">
		        <div class="slide-text-container">
	        		<h1>TITLU SLIDE LUNG</h1>
	        		<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.</p>
	        		<button>Afla mai multe!</button>
	        	</div>
	        </li>
	        <li class="slide3">
	        	<div class="slide-text-container">
	        		<h1>TITLU SLIDE LUNG</h1>
	        		<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature.</p>
	        		<button>Afla mai multe!</button>
	        	</div>
	        </li>
	    </ul>
	</div>		
</section>

<div class="fixed_12">
	<div class="row main-container">


		<div class="body-container small-12 columns">

			<section class="promo-container">
				<div class="promo-tile tile-1 small-4 columns">
					<div class="inner-tile">
						<div class="transparent">
							<h2 class="tile-title">VREAU SA DEVIN STUDENT</h2>
							<button>Afla cum!</button>
						</div>
					</div>
				</div>
				<div class="promo-tile tile-2 small-4 columns">
					<div class="inner-tile">
						<div class="transparent">
							<h2 class="tile-title">PREINSCRIERE ONLINE</h2>
							<button>Inscrie-te!</button>
						</div>
					</div>
				</div>
				<div class="promo-tile tile-3 small-4 columns">
					<div class="inner-tile">
						<div class="transparent">
							<h2 class="tile-title">CALENDAR<br>ADMITERE</h2>
							<button>Vezi calendar!</button>
						</div>
					</div>
				</div>
			</section>

			<section class="news small-12 columns">
				<h1 class="title">Stiri si Evenimente</h1>
				<div class="article">
					<h2 class="news_title">Header number one</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mattis velit nec nulla mattis aliquam. Vestibulum vulputate, velit vitae facilisis fermentum, libero ligula efficitur nisl, id pulvinar ante turpis vitae neque. Nulla facilisi. Maecenas scelerisque augue mi, non tempor nisl sagittis a.</p>
				</div>
				<div class="article">
					<h2 class="news_title">Header number two</h2>
					<p>Nunc vel auctor justo. Quisque pretium justo in quam tempus finibus. Nulla tortor justo, ornare eu tellus vitae, pretium fermentum libero. In fermentum non tellus et elementum. Nullam tempor venenatis nulla, eget aliquet erat varius id. Vestibulum feugiat congue diam, dignissim dignissim lacus ullamcorper vitae. Fusce hendrerit elit id erat tristique porttitor. Etiam ultrices lectus ac tellus congue, sit amet viverra magna laoreet.</p>
				</div>
				<div class="article">
					<h2 class="news_title">Header number two</h2>
					<p>Nunc vel auctor justo. Quisque pretium justo in quam tempus finibus. Nulla tortor justo, ornare eu tellus vitae, pretium fermentum libero. In fermentum non tellus et elementum. Nullam tempor venenatis nulla, eget aliquet erat varius id. Vestibulum feugiat congue diam, dignissim dignissim lacus ullamcorper vitae. Fusce hendrerit elit id erat tristique porttitor. Etiam ultrices lectus ac tellus congue, sit amet viverra magna laoreet.</p>
				</div>
				<div class="article">
					
				</div>
			</section>

			<section class="faq">
				<h1 class="title">Ai o intrebare? Adreseaz-o aici!</h1>
			</section>

		</div>
	</div>
</div>